<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>AdvantaProject</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
  <br>
    <header>
        <div class="container">
          <h1>AdvantaProject</h1>
          <nav>
            <ul>
              <li><a href="/">Home</a></li>
              <li><a href="/">Tools</a></li>
              <li><a href="/contact">Contact</a></li>
            </ul>
          </nav>
        </div>
    </header>
    <br><br>
    {% block content %}
    {% endblock %}
  </body>
  </html>